<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>leocustomhtml1</name>
            <displayName><![CDATA[Slideshow Custom HTML]]></displayName>
            <version><![CDATA[1.1]]></version>
            <description><![CDATA[Slideshow Custom HTML, Support All hooks]]></description>
            <author><![CDATA[leotheme]]></author>
            <tab><![CDATA[]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>